name: Build and Release

on:
  push:
    tags:
      - "v*"
      - "release-*"

jobs:
  release:
    name: release publish
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 'stable'
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set tag vars
        run: echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false

      - name: go build
        run: make all && ls -l bin

      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/crproxy-linux-amd64
          asset_name: crproxy-${{ env.GIT_TAG }}-linux-amd64
          asset_content_type: application/octet-stream
      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/crproxy-linux-arm64
          asset_name: crproxy-${{ env.GIT_TAG }}-linux-arm64
          asset_content_type: application/octet-stream
      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/crproxy-darwin-amd64
          asset_name: crproxy-${{ env.GIT_TAG }}-darwin-amd64
          asset_content_type: application/octet-stream
      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/crproxy-darwin-arm64
          asset_name: crproxy-${{ env.GIT_TAG }}-darwin-arm64
          asset_content_type: application/octet-stream
      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/crproxy-windows-amd64.exe
          asset_name: crproxy-${{ env.GIT_TAG }}-windows-amd64.exe
          asset_content_type: application/octet-stream

  docker-build:
    name: docker build and push to dockerhub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Set tag vars
        run: echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          file: Dockerfile
          provenance: false
          labels: |-
            org.opencontainers.image.title=crproxy
            org.opencontainers.image.description=crproxy is a proxy server for container registry.
            org.opencontainers.image.url=${{ github.event.repository.html_url }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.version=${{ env.GIT_TAG }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/crproxy:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/crproxy:${{ env.GIT_TAG }}